* {
    font-family: "Roboto", serif;
}

#baner {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: crimson;
    color: white;
    gap: 5px;
    word-spacing: 30px;
    margin: 10px;
}

.pierwszy {
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin: 10px 50px 10px 50px;
    border: 1px solid crimson;
}

.pierwszy > img {
    float: left;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

#stopka {
    background-color: crimson;
    color: white;
}

.drugi > article {
    display: flex;
    flex-direction: row;
}

.info {
    margin: 1%;
    background-color: snow;
    height: 450px;
    width: 21%;
    text-align: center;
    border: solid 1px crimson;
}

h4 {
    font-size: 180%;
    text-align: center;
    color: crimson;
}

.tytul {
    font-style: italic;
}